# Problem 1

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe like the one shown below:

To create the above dataframe:

The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood.
Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11  in the above table.
If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [29]:
# import library
import pandas as pd
import numpy as np

Read Data

In [30]:
table_raw = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
df = table_raw[0]

Data Cleaning

In [31]:
# Use first row as Column names and delete first row
df = df.rename(columns=df.iloc[0]).drop(df.index[0])
print(df.shape)
df.head()

(180, 3)

  Postal Code           Borough              Neighbourhood
1         M1A      Not assigned               Not assigned
2         M2A      Not assigned               Not assigned
3         M3A        North York                  Parkwoods
4         M4A        North York           Victoria Village
5         M5A  Downtown Toronto  Regent Park, Harbourfront

In [25]:
# Ignore cells with a borough that is Not assigned.
df1 = df[df["Borough"] != "Not assigned"]
df1.shape

(103, 3)

In [33]:
# Filter out rows with "Not assigned" value in the neighbourhood column
df1.loc[df1["Neighbourhood"] == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [37]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. 
df1.Neighbourhood.replace('Not assigned',df1.Borough,inplace=True)

In [47]:
# Group Neighbourhoods with the same Postcode
df2 = df1.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df2 = df2.reset_index()
df2.rename(columns = {'Postal Code': 'PostalCode'}, inplace = True)
df2.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df2.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [48]:
# print the shape of final data frame
df2.shape

(103, 3)